doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='a little utility for testing minimatch')
    meta(name='author', content= "Jeff Escalante")
    title Globtester
    script(src="//use.typekit.net/ktc8mas.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='css/master.css')
  body
    block content

  script(src="js/main.js")
