doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='a little tool for testing minimatch')
    meta(name='author', content= "Jeff Escalante")
    meta(content='width=device-width, user-scalable=no', name='viewport')

    meta(property='og:title', content="Globtester")
    meta(property='og:description', content="A little tool for testing minimatch")
    meta(property='og:image', content="http://globtester.com/img/share.jpg")
    meta(property='og:type', content='website' )
    meta(property='og:url', content='http://www.globtester.com' )

    title Globtester

    script(src="//use.typekit.net/ktc8mas.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='css/master.css')
  body
    block content

  script(src="js/build.js")
  script.
    (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-40532280-2","globtester.com");ga("send","pageview")
